{% extends "blog/base.html" %}

{% block title %}
Dashboard page.
{% endblock %}

{% block content %}
<div class="api-info pt-1 ml-1">
    <h1>Django User Login Authentication:</h1>
    <ul>
        <li>GET /login</li>
        <li>POST /logout</li>
        <li>GET /logged_out</li>
    </ul>

    <h1>User dashboard page (login required)</h1>
    <ul>
        <li>GET /account</li>
    </ul>
    <hr>

    <h1>Django simple blog app:</h1>
    <ul>
        <li>GET blog/</li>
        <li>GET blog/[post_slug_id]</li>
    </ul>
    <hr>

    <h1>Other endpoints:</h1>
    <ul>
        <li>GET projects/</li>
        <li>GET contact/</li>
    </ul>
    <hr>
</div>

{% endblock %}
