<u><h1>Implemented endpoints:</h1></u>
<hr>
<div class="container">
    <pre>
    <h2>Django User Login Authentication:</h2>
    <p>GET /login</p>
    <ul><li><a href="login">login</a></li></ul>
    <p>POST /logout</p>
    <p>GET /logged_out</p>
    <ul><li><a href="logged_out">logged_out</a></li></ul>
    <p>GET /account</p>
    <ul><li>User dashboard page (login required)</li></ul>
    <ul><li><a href="account">account</a></li></ul>
    <hr>
    <h2>Django simple blog app:</h2>
    <p>GET blog/</p>
    <ul><li><a href="blog/">blog/</a></li></ul>
    <p>GET blog/[post_slug_id]</p>
    <hr>
    <h2>Other endpoints:</h2>
    <p>GET /</p>
    <ul><li><a href="/">Home page</a></li></ul>
    <p>GET projects/</p>
    <ul><li><a href="projects/">projects/</a></li></ul>
    <p>GET contact/</p>
    <ul><li><a href="contact/">contact/</a></li></ul>
    <hr>
</pre>
</div>