{% extends "blog/base.html" %}

{% block title %}
Contact page.
{% endblock %}

{% block style %}
	/* Style for success message */
	.success {
		color: #3c763d;           /* Green text color indicating success */
		background-color: #dff0d8; /* Light green background for success */
		border: 1px solid #d6e9c6; /* Border in a darker shade of green */
		padding: 10px;            /* Internal padding */
		margin-bottom: 15px;       /* Spacing below */
		border-radius: 5px;        /* Rounded corners */
		font-weight: bold;         /* Bold text */
	}

	/* Style for error message */
	.error {
		color: #a94442;            /* Red text color indicating an error */
		background-color: #f2dede; /* Light red background for error */
		border: 1px solid #ebccd1; /* Border in a darker shade of red */
		padding: 10px;             /* Internal padding */
		margin-bottom: 15px;        /* Spacing below */
		border-radius: 5px;         /* Rounded corners */
		font-weight: bold;          /* Bold text */
	}

{% endblock %}


{% load crispy_forms_tags %}

{% block content %}
		<div class="main container" id="contact">
			<h2 align="left">CONTACT DETAILS:</h2>
			<div class="row">
			<div class="col-8">
				<ul>
					<li>Name: Daniel Palacz</li>
					<li>Email: daniel.palacz@pyx.solutions</li>
					<li>Phone: +48 505-393-579</li>
				</ul>
				<hr>
				</div>
			</div>

			<h2 align="left">CONTACT FORM:</h2>
			<div class="row">
				<div class="col-8">
				<form method="post" action="/contact/" class="form-group">
					{% csrf_token %}
					{{form|crispy}}
					<input type="submit" value="Send" class="btn btn-outline-dark btn-lg">
				</form>
				</div>
			</div>

			<div class="row">
				<div class="col-8">
					{% if messages %}
						{% for message in messages %}
							<div class="{{message.tags}}">{{message}}</div><br>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>


{% endblock %}
