{% extends "blog/base.html" %}

{% block title %}
Welcome at my website.
{% endblock %}


{% block content %}
		<div class="main container" id="home">
			<h3 align="left">TEST PROJECTS:</h3>
			<ul>
				<li>E2E Web automated tests.<ul><li>Python, pytest, Selenium</li></ul>
				</li>
				<li>Fullstack tests for new Web application.<ul><li>Scrum, manual tests, SQL.</li></ul>
				</li>
				<li>Non-functional tests for complex finance system.<ul><li>Manual tests, complex environment, Waterfall.</li></ul>
				</li>
				<li>Functional tests for finance system.<ul><li>Scrum, manual tests, SQL.</li></ul>
				</li>
			</ul>
			<h3 align="left">WEB APPLICATIONS:</h3>
			<ul>
				<li>
					<a href="http://poznajmypolske.pl/">Simple web application for searching polish monuments (polish language).</a>
					<ul><li>Python, Flask</li></ul>
				</li>
				<li>Python development for infrastructure automation system.<ul><li>Python, Flask, Elasticsearch.</li></ul>
				</li>
			</ul>
		</div>




{% endblock %}
